#myBoard table {
  margin: 40px auto;
  margin-bottom: 60px;
}

.square {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  text-align: center;
}

.cellNum {
  position: absolute;
  top: 2px;
  left: 2px;
}

.pathNum {
  font-size: 20px;
  display: none;
  color: #fff;
}

.cellChar {
  position: absolute;
  bottom: 2px;
  right: 2px;
  text-transform: lowercase;
}

.black {
  background-color: #b58863;
  color: #f0d9b5;
}

.white {
  background-color: #f0d9b5;
  color: #b58863;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    background: black;
}
.animated .pathNum{
    display: inline;
}
@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {

    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
